.videoRelated {
	transition-duration: 0.5s;
	cursor: pointer;
}
.videoRelated:hover {
	box-shadow: -1px 0px 21px 5px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 0px 21px 5px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 21px 5px rgba(0,0,0,0.75);
}
